body {  
    background: linear-gradient(to bottom right, #00bfff, #00ffff); 
    height:100% auto; 
    font-family: sans-serif;  
}  

.container {  
    width: 80%;  
    margin: 0 auto;  
}  

.message {  
    width: 50%;  
    margin: 40px auto;  
    text-align: center;  
}  

.bubble {  
    background-color: #fff;  
    border-radius: 25px;  
    padding: 25px;  
}  

.message:nth-child(odd) .bubble {  
    float: left;  
}  

.message:nth-child(even) .bubble {  
    float: right;  
}  

.message:nth-child(odd) .bubble:after {  
    content: "";  
    position: absolute;  
    top: 10px;  
    left: -50px;  
    border-style: solid;  
    border-width: 10px 20px 10px 0;  
    border-color: transparent #fff;  
    display: block;  
    width: 0;  
    z-index: 1;  
}  

.message:nth-child(even) .bubble:after {  
    content: "";  
    position: absolute;  
    top: 10px;  
    right: -50px;  
    border-style: solid;  
    border-width: 10px 0 10px 20px;  
    border-color: transparent #fff;  
    display: block;  
    width: 0;  
    z-index: 1;  
}  

.message:nth-child(odd) .bubble p {  
    margin: 0 0 0 10px;  
}  

.message:nth-child(even) .bubble p {  
    margin: 0 10px 0 0;  
}  

.message:nth-child(odd) .bubble {  
    background-color: #00bfff;  
}  

.message:nth-child(even) .bubble {  
    background-color: #00ffff;  
}  

.message:nth-child(odd) .bubble:after {  
    border-color: transparent #00bfff;  
}  

.message:nth-child(even) .bubble:after {  
    border-color: transparent #00ffff;  
}  

.message:nth-child(odd) .bubble p {  
    color: #fff;  
}  

.message:nth-child(even) .bubble p {  
    color: #000;  
}  

.message:nth-child(odd) .bubble {  
    margin-left: 50%;  
}  

.message:nth-child(even) .bubble {  
    margin-right: 50%;  
}  

.message:nth-child(odd) .bubble:after {  
    left: auto;  
    right: -20px;  
    border-width: 10px 0 10px 20px;  
}  

.message:nth-child(even) .bubble:after {  
    right: auto;  
    left: -20px;  
    border-width: 10px 20px 10px 0;  
}  

.message:nth-child(odd) .bubble p {  
    text-align: right;  
}  

.message:nth-child(even) .bubble p {  
    text-align: left;  
}  

.message:nth-child(odd) .bubble {  
    float: right;  
}  

.message:nth-child(even) .bubble {  
    float: left;  
}  

.message:nth-child(odd) .bubble:after {  
    right: auto;  
    left: -20px;  
    border-width: 10px 20px 10px 0;  
}  

.message:nth-child(even) .bubble:after {  
    left: auto;  
    right: -20px;  
    border-width: 10px 0 10px 20px;  
}  

.message:nth-child(odd) .bubble p {  
    margin: 0 10px 0 0;  
}  

.message:nth-child(even) .bubble p {  
    margin: 0 0 0 10px;  
}  

.message:nth-child(odd) .bubble {  
    margin-right: 50%;  
}  

.message:nth-child(even) .bubble {  
    margin-left: 50%;  
}  