
<!DOCTYPE html>  
<html>  
<head>  
    <title>Violet</title>  
    <link rel="stylesheet" href="../static/styles.css">  
    <link rel="stylesheet" href="../static/styles.css">  
    
     <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../favicon.ico">
</head>  
<body class = "bgimg" >  
  <nav class="navbar navbar-expand-md navbar-dark shadow-5-strong bg-dark fixed-top right">
    <div class="starter-template container">
      <div class="violet"type="button">
        <a href="/" style = "text-decoration: none!important;">
          <div class="violet-text">
              <span>V</span>
              <span>I</span>
              <span>O</span>
              <span>L</span>
              <span>E</span>
              <span>T</span>
          </div>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-inner navbar-nav ms-auto">
          <li class="nav-item active col-23">
            <a class="nav-link" href="/about/" style=" margin-right:30px; color: #8064A2">About</a>
          </li>
          <li class="nav-item active col-23">
            <a class="nav-link" href="https://github.com/kunshksingh/Violet" style=" margin-right:30px; color: #8064A2">Github</a>
          </li>
          <li class="nav-item active col-23">
            <a class="nav-link" href="/access/" style=" margin-right:30px; color: #8064A2">Access</a>
          </li>
          <li class="nav-item col-4">
            <a href = "/login/"><button class="btn btn-outline-success my-2 my-sm-0" type = "submit">Login</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main role="main" class="container" style="margin-top:100px">
      <div class="messages">
        <div class="messagesIncTime">
          <div class="messagesThem">
              <span class="name">Violet</span>
              <span class="text">Hi, I'm Violet. It's so nice to meet you today!</span>
          </div>
          <!-- <span class="time timeThem">10:01</span>-->
        </div>
        <div id = "ezDelete" >
        {% for msg in data["conversation"] %}
        <div class="messagesIncTime">
          <div class="messagesYou">
              <span class="textYou">{{msg[0]}}</span>
          </div>
          <!-- <span class="time timeYou">10:00</span>-->
        </div>
        <br/>
        <div class="messagesIncTime">
          <div class="messagesThem">
              <span class="name">Violet </span>
              <span class="text">{{msg[1]}}</span>
          </div>
          <!-- <span class="time timeThem">10:01</span>-->
        </div>
        {% endfor %}
      </div>
          <form method="post">
          <div class="input" style="margin-top:30px">
            <span><input name="lastmsg" type="text" placeholder="Type your message here..."> <div class="loading-circle"></div></span>
          </div>
          </form>
          <button class = "reset col-12-sm right" id="reset">RESET</button>
            <script type = "text/javascript" src = "../static/app.js"></script>
            <!--
            <script>
                var to_speak = new SpeechSynthesisUtterance("Hello world, speaking up here!");
                to_speak.lang = "en-US";
                window.speechSynthesis.speak(to_speak);
                // Start listening.
                //annyang.start();
            </script>
            Text to speech
            -->
            <script>
            
   
             // Create a javascript function that makes a night blue/purple themed text messenger application
             // The application should have a text input field and a messages box
             // Lock chatbar when no messages come through
            var delayInMilliseconds = 40000; 

            //setTimeout(function() {
              var convos = $('.messageIncTime.messagesYou.textYou');
              var messages = document.querySelector('.messages');
              
              var name = 'User';
              var hours = new Date().getHours();
              var mins =  new Date().getMinutes();
              var minsStr = '';
              if (mins < 10){
                minsStr = mins + mins.toString();
              }
              else{
                minsStr = mins.toString();
              }
              var time =  hours+ ':' +minsStr;
                
              $("#reset").click(function(){
                
                var elms = document.getElementById('ezDelete');
                elms.parentNode.removeChild(elms)
                $.ajax({ 
                    type: 'GET',
                    url: '/reset',
                  });
              });
              input.addEventListener('keypress', function(e) {
                var msgs = document.getElementsByClassName("message");
                var key = e.which || e.keyCode;
                
                  if (key === 13) {
                    $.ajax({ 
                    type: 'POST',
                    url: '/sendmessage',
                    data: JSON.stringify({"out": convos}),
                    contentType: 'application/json',
                    //success: function (response_data) { 
                    //alert("success");
                    //}
                  });
                    var text = input.value;
                    console.log(text)
                    if (text.length > 0){
                      messages.innerHTML += '<br/><br/><div class="messagesIncTime"><div class="messagesYou"><span class="text">' + text + '</span></div><span class="time timeYou"> ' + time + '</span></div>';
                      input.value = '';
                    }
                    
                    
                  }

              });

            //}, delayInMilliseconds);
           
         </script>
   
             <!-- Bootstrap core JavaScript
         ================================================== -->
         <!-- Placed at the end of the document so the pages load faster -->
         <!-- JavaScript Bundle with Popper -->
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js%22%3E</script>
       </main>
   
   </body>
   </html>
