  <!DOCTYPE html>  
  <html>  
  <head>  
    <title>Text Conversation</title>  
    <link rel="stylesheet" href="../static/styles.css">  
  </head>  
  <body>  
    <div class="container">  
      <div class="message">  
        <div class="bubble">  
          <p>Hey, how's it going?</p>  
        </div>  
      </div>  
      <div class="message">  
        <div class="bubble">  
          <p>Not bad, how about you?</p>  
        </div>  
      </div>  
      <div class="message">  
        <div class="bubble">  
          <p>Pretty good, thanks!</p>  
        </div>  
      </div>  
    </div>  
  </body>  
  </html>  